body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #333;
  color: white;
  padding: 1em;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav a {
  text-decoration: none;
  color: white;
  margin: 0 15px;
}

section {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em 0;
}

.dark-theme {
  background-color: #222;
  color: white;
}

.parallax-container {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)),
    url("imagen/fondo.jpg");
}

.parallax-content {
  position: relative;
  z-index: 1;
  padding: 20px;
  color: white;
  min-height: 100vh;
}

ol {
  list-style-position: inside;
  list-style-type: decimal;
}

h2 {
  margin-top: 50px;
}

p {
  font-size: 18px;
}

a {
  font-size: 20px;
}
